.voyage-info {
    position: relative;
    display: flex;
    flex-shrink: 0;
    padding: 5px;
    margin: 5px;
    background-color: white;
    box-shadow: 2px 2px 2px #999999;
    overflow: hidden;
    border-radius: 5px;
}

.voyage-info p {
    color: #333333;
    font-size: 12px;
    white-space: nowrap;
    padding: 0;
}

.voyage-info > .voyage-type-coa {
    width: 5px;
    background-color: goldenrod;
    position: absolute;
    top:0;
    left: 0;
    height:100%;
}

.voyage-info > .voyage-type-spot {
    width: 5px;
    background-color: blueviolet;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
}

.voyage-info > .voyage-info-ports {
    margin-left:5px;
}

.voyage-info-ports > .link {
    color: #55AAFF;
    font-size: 12px;
}

.voyage-info > .voyage-info-laycan {
    margin-left:5px;
}