

.vessel-background {
    z-index: 0;
    width: 100%;
    position: absolute;
    left: 0;
    height: calc(100% - 2px);
}

.vessel-background > div {
    height: 100%;
    float:left;
    background-color: #F1F1F1;
    border: 1px solid #AAAAAA;
}
