
.vessel {
    display: flex;
    flex-direction: row;
    position: relative;
}

.vessel-info {
    width:200px;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid #AAAAAA;
    border-right: 5px #606060 solid;
    padding-left: 10px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vessel-info h4, p {
    color: #333333;
    margin: 0;
    padding: 2px;
    text-align: left;
}

 .vessel-info p {
    margin: 0;
    padding: 1px;
    font-size:12px;
    text-align: left;
}

.vessel-voyages {
    z-index: 5;
    width: calc(100% - 216px);
}

.background-grid-container {
    width: calc(100% - 216px);
    left: 216px;
    height: 100%;
    position: absolute;
}